* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(249, 226, 118);
  color: white;
  font-family: "Azeret Mono", monospace;
  min-height: 100vh;
}
header {
  font-size: 2rem;
}
h1 {
  margin-top: 25px;
  font-family: "Apropal";
  font-size: 120px;
  color: rgb(71, 74, 88);
  text-align: center;
}
h3 {
  color: black;
  margin: 10px;
  font-weight: 400;
}
.span-header {
  font-family: "Bajaderka-Regular";
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(71, 74, 88);
  font-size: 60px;
  margin-bottom: 25px;
}
header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: white;
  margin-bottom: 30px;
}
form input {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
  border: solid 1px black;
}
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  border-right: solid 1px black;
}

form input:focus {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
  outline: none;
  border: 1px solid black;
}

form button:focus {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
  outline: none;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  border-right: solid 1px black;
}
form button {
  color: rgb(71, 74, 88);
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: rgb(71, 74, 88);
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 62%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
  border: solid 1px black;
}
.todo-count {
  width: 80px;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: rgb(71, 74, 88);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: #001f3f;
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  border: solid 1px black;
}
select {
  color: #d6fa4a;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #d6fa4a;
  cursor: pointer;
  pointer-events: none;
}
/* Transition */
/*
.select:hover::after {
  transform: scale(1.5);
}
*/
